.opear {
	margin-right :  5px;
}
.search-wrap {
	margin-bottom: 20px;
}
.search-wrap .form-group {
	margin-right: 20px;
}
.page-header-right {
	float: right;
	margin-top: 10px;
}

.my-label{
	padding-top: 7px;
}